/* Estilos básicos */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

/* Estilos do cabeçalho */
header {
    background-color: #0f0064; /* Verde escuro representando a Amazônia */
    color: rgba(255, 255, 255, 0);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo img {
    max-height: 10px;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav li {
    margin: 0 1.5rem;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.main-nav a:hover {
    text-decoration: underline;
}

.cta-button .btn {
    background-color: #f5250000; /* Tom de vermelho representando o Cerrado */
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.2rem 0.2rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button .btn:hover {
    background-color: #FF4500; /* Vermelho mais intenso para hover */
}

/* Efeito para o cabeçalho ao rolar a página */
header.scrolled {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para o conteúdo */
section {
    padding: 2rem;
    margin-top: 5rem; /* Adiciona espaço para o cabeçalho fixo */
}

h1, h2 {
    color: #005f6a; /* Cor representando o Pantanal */
    font-weight: 600;
}

/* Estilo para imagens */
img {
    border-radius: 15px; /* Bordas arredondadas */
    max-width: 10%;
    height: auto;
}

/* Estilos adicionais */
.centered {
    text-align: center;
}

ul {
    padding-left: 0;
    list-style: none;
}

ul li {
    margin: 0.2rem 0;
    padding: 0.2rem;
    background-color: #e4212100; /* Tom de azul claro representando a Mata Atlântica */
    border-radius: 2px;
}

/* Estilos para cores dos biomas */
.mata-atlantica {
    background-color: #e0e6fa00; /* Tom de azul claro */
    color: #00695c; /* Verde escuro */
}

.pampa {
    background-color: #fbe9e7; /* Tom de marrom claro */
    color: #6d4c41; /* Marrom escuro */
}

.cerrado {
    background-color: #fff3e0; /* Tom de amarelo claro */
    color: #e6510023; /* Laranja intenso */
}

/* Estilos para os quadros/tópicos */
.section-quadros {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.section-quadros div {
    width: 30%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-quadros h3 {
    text-align: center;
    font-weight: bold;
}
